body {
    background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    font-weight: 300;
    color: #62686f;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 300;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.main-header{
    background-image: url(../img/banner.jpg);
    text-align: center;
    padding: 1px;
    margin-top: 150px;
}

.main-header__avatar{
    display: block;
    text-align: center;
    margin: 0 auto;
    border: 3px solid white;
    margin-top: -70px;
    margin-bottom: 10px;

    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
    border-radius: 999px;
}

.main-header h1{
    font-weight: 300;
    font-size: 50px;
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.main-nav {
    text-align: center;
    background-color: #333;
    padding: 1px;
    margin: 0;
}

.main-nav ul {
    margin: 0;
}
.main-nav ul li {
    margin: 12px 25px;
    display: inline-block;
    padding: 1px;
}

.main-nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.info-section{
    background-color: #fff;
    padding: 30px 60px;
}

.info-section header{
    text-align: center;
}

.info-section header h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.info-section header h2:after {
    text-align: center;
    content:"";
    display:block;
    clear:both;
    border-bottom: 3px solid black;
    margin-top: 10px;
    margin-left: 45%;
    margin-right: 45%;
}

.info-section__description {
    font-style: italic;
}

.whatido__skill-list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 60px;
}

.whatido__skill{
    float: left;
    text-align: center;
    padding-top: 100px;

    background-repeat: no-repeat;
    background-position: center top;
    width: 33%;
}

.whatido__skill--code {
    background-image: url(../img/skill-code.png);
}

.whatido__skill--design {
    background-image: url(../img/skill-design.png);
}

.whatido__skill--product{
    background-image: url(../img/skill-product.png);
}

.whatido__skill-list:after{
    clear: both;
    display: block;
    content: "";
}

.education-experience{
    text-align: center;
}

.education-experience__list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.education-experience__list img{
    width: 180px;
    float: left;
    margin-right: 50px;
}
.education-experience__list li {
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px;
    display: inline-block;

}
.education-experience__list li article{
    overflow: hidden;
}
.education-experience__description{
    overflow: hidden;
}
.photos {
    box-sizing:border-box;
    overflow: hidden;
}
.photos__list{
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

.photos__list li{
    display: inline-block;
    padding: 10px;
    width: 185px;
    overflow: hidden;
}

.photos__list li img{
    width: 100%;
}

.get-in-touch{
    box-sizing:border-box;
    overflow: hidden;
    padding: 1px;
}
.get-in-touch header{
    margin-bottom: 30px;
}
.get-in-touch__list{
    list-style: none;
    padding: 0;
    margin: 0;
    float:left;
    text-align: center;
}

.get-in-touch__list li {
    display: inline-block;
    width: 120px;
    margin-left: 90px;
}

.get-in-touch__list li img{
    width: 100%;
}
.contact {
    
}
.contact input,
.contact textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    display: block;
    padding: 8px;
    margin-bottom: 20px;
}
.contact label {
    position: absolute;
    left: -105%;
    width: 100%;
    padding-bottom: 10px;
    padding-top:10px;
    text-align: right;

}
.contact form{
    position: relative;
    width: 40%;
    margin: 0 auto;
    display: block;
}

.contact button {
    border: none;
    border-radius: 9999px;
    width: 100%;
    padding: 8px;
    background: #ffd524;
    
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    color: #fff;
    box-shadow: 0 3px 0 #daae1d;
    
}
